doctype html
head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Running From Alzheimer's, because Alzheimer's...hey, where's everybody going?
  link(rel="stylesheet" type="text/css" href="css/styles.css")
body
  header
    h1 Running From Alzheimer's
    div.tagline Because Alzheimer's ... hey, where's everybody going?
  main
    .highlight Collecting donations for the <a href="https://www.alz.org/">Alzheimer's Association</a> at Ragnar Trail Snowmass, June 7-9!
  footer
    | Copyright &copy; 2018 <a href="http://162unlimited.com">162Unlimited</a> - All Rights Reserved
