doctype html
head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Running From Alzheimer's, because Alzheimer's...hey, where's everybody going?
  link(rel="stylesheet" type="text/css" href="css/styles.css")
body
  header
    h1 Running From Alzheimer's
    div.tagline Using Our Legs to Support Our Brains and Find a Cure for Alzheimer's
  main
    .highlight
      p I'm just getting started, but my goal is to research and share, and ultimately find a cure for Alzheimer's disease, starting with my legs.
      p We'll be collecting donations for the <a href="https://www.alz.org/">Alzheimer's Association</a> at Ragnar Trail Snowmass, June 7-9!
  footer
    | Copyright &copy; 2018 &bull; <a href="http://162unlimited.com">162Unlimited</a> - All Rights Reserved
